{% extends "user/base.html" %} {% block title %}Agent{% endblock %} {% block
content %}
<div class="container">
  <div class="album py-5 bg-white">
    <div
      class="p-4 p-md-5 mb-4 rounded text-body-emphasis d-flex justify-content-start"
    >
      <div class="" style="margin-right: 24px">
        <div
          class="agent-photo"
          style="
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            border: 0.67px solid #212529;
            opacity: 0.25;
            margin-right: 16px;
          "
        ></div>
      </div>
      <div class="col">
        <div
          class="agent-profile-name d-flex justify-content-between align-items-center"
        >
          <h1>{{agent.user.first_name}} {{agent.user.last_name}}</h1>
          <div class="btn-grp">
            <button type="button" class="btn btn-outline-secondary">
              Rate Agent
            </button>
            <button type="button" class="btn btn-danger">Contact Agent</button>
          </div>
        </div>
        <div class="agent-profile-details">
          CEA Registration No. {{agent.cea_registration_no}} &middot Agency
          License No. {{agent.agency_license_no}}
        </div>
      </div>
    </div>
    <hr />
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis">
      <h1>Customer Reviews</h1>
      {% for feedback in feedbacks %}
      <div class="p-4 mb-4 card text-center bg-light">
        <div class="list-group-item d-flex gap-3">
          <svg
            class="bd-placeholder-img flex-shrink-0 me-2 rounded"
            width="32"
            height="32"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff"></rect>
            <text x="50%" y="50%" fill="#007bff" dy=".3em"></text>
          </svg>
          <div class="user-name w-100">
            <h6 style="text-align: left; margin-left: 3px">
              {{feedback.user.first_name}} {{feedback.user.last_name}}
            </h6>
            <div class="d-flex justify-content-start align-items-center gap-2">
              {% for rating in feedback.ratings %}
              <input
                class="rating bg-light"
                max="5"
                step="0.5"
                style="--value: {{rating.rating}}; --starsize: 15px; margin-left: 0"
                type="range"
              />{% endfor %}
              <span style="color: #999999; font-size: 12px"
                >{% if feedback.ratings and feedback.ratings[0].date_created %}
                {{feedback.ratings[0].date_created.strftime('%d %B %Y')}} {%
                elif feedback.reviews and feedback.reviews[0].date_created %}
                {{feedback.reviews[0].date_created.strftime('%d %B %Y')}} {%
                else %} No Date Available {% endif %}
              </span>
            </div>
            <br />
            {% for review in feedback.reviews %}
            <div style="font-size: 14px; text-align: left; margin-left: 3px">
              {{review.review}}
            </div>
            {% endfor %}
          </div>
          <small class>
            {% if user.id == feedback.user.id %}
            <button
              type="button"
              class="btn btn-sm btn-secondary dropdown-toggle"
              data-bs-toggle="dropdown"
            ></button>
            <ul class="dropdown-menu">
              <li>
                <form action="/delete-rating/{{agent.id}}" method="post">
                  <button type="submit" class="dropdown-item">
                    Delete Rating
                  </button>
                </form>
              </li>
              <li>
                <form action="/delete-review/{{agent.id}}" method="post">
                  <button type="submit" class="dropdown-item">
                    Delete Comment
                  </button>
                </form>
              </li>
            </ul>
            {% endif %}
          </small>
        </div>
      </div>
      {% endfor %} {% if user.profile.name.lower() == 'buyer/seller' %}
      <div class="p-4 card text-center bg-light">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills-rating-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-rating"
              type="button"
              role="tab"
              aria-controls="pills-rating"
              aria-selected="true"
            >
              Rating
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-review-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-review"
              type="button"
              role="tab"
              aria-controls="pills-review"
              aria-selected="false"
            >
              Review
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-rating"
            role="tabpanel"
            aria-labelledby="pills-rating-tab"
            tabindex="0"
          >
            <form
              id="ratingForm"
              method="POST"
              action="/create-rating/{{agent.id}}"
            >
              <input
                type="text"
                class="form-control mb-3"
                value="{{current_user.first_name}} {{current_user.last_name}}"
                readonly
              />
              <input
                id="rating"
                name="rating"
                class="rating bg-light"
                max="5"
                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                step="0.5"
                style="--value: 2.5"
                type="range"
                value="2.5"
              />
              <button type="submit" class="btn btn-primary mt-3">
                Submit Rating
              </button>
            </form>
          </div>
          <div
            class="tab-pane fade"
            id="pills-review"
            role="tabpanel"
            aria-labelledby="pills-review-tab"
            tabindex="0"
          >
            <form
              id="reviewForm"
              method="POST"
              action="/create-review/{{agent.id}}"
            >
              <input
                type="text"
                class="form-control mb-3"
                value="{{current_user.first_name}} {{current_user.last_name}}"
                readonly
              />
              <textarea
                id="review"
                name="review"
                class="form-control mb-3"
                placeholder="Comment something!"
              ></textarea>
              <button type="submit" class="btn btn-primary">
                Submit Review
              </button>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>
