{% extends "user/base.html" %} {% block title %}Sell{% endblock %} {% block
content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Listing example</h1>
    <p class="lead text-muted">
      Sum up the apartment"s key features briefly: bedrooms, bathrooms,
      amenities, and location. Make it short and enticing to grab attention
      without overwhelming potential renters.
    </p>
    <p>
      {% if user.agent %}
      <a href="/create-listing" class="btn btn-primary my-2"
        >Create a Listing</a
      >
      {% endif %}
    </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="col">
      <div id="listings">
        {% for listing in listings %} {% if user.agent.id == listing.agent_id or
        user.id == listing.user_id %}
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <div
              class="listing-title d-flex justify-content-between align-items-center"
            >
              <h5>
                {% if listing.availability.value == "UNAVAILABLE" %}
                <span style="color: red">Sold</span> &middot {% endif %}
                {{listing.title}}
              </h5>
              {% if user.agent.id == listing.agent_id %}
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-secondary dropdown-toggle"
                  data-bs-toggle="dropdown"
                ></button>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      href="/update-listing/{{listing.id}}"
                      class="dropdown-item"
                      >Edit</a
                    >
                  </li>
                  {% if listing.availability.value == "AVAILABLE" %}
                  <li>
                    <form action="/update-lstatus/{{listing.id}}" method="post">
                      <button type="submit" class="dropdown-item">
                        Mark as Sold
                      </button>
                    </form>
                  </li>
                  {% else %}
                  <li>
                    <form action="/update-lstatus/{{listing.id}}" method="post">
                      <button type="submit" class="dropdown-item">
                        Mark as Available
                      </button>
                    </form>
                  </li>
                  {% endif %}
                  <li>
                    <form action="/delete-listing/{{listing.id}}" method="post">
                      <button type="submit" class="dropdown-item">
                        Delete
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
              {% endif %}
            </div>
            <hr />
            <div class="listing-details">
              <div class="listing-location">{{listing.location}}</div>
              <div class="listing-price">
                S$ {{"{:,.0f}".format(listing.price|int)}}
              </div>
              <div class="listing-features">
                {{listing.bedrooms}} Bedrooms &middot {{listing.bathrooms}}
                Bathrooms &middot {{listing.size_sqft}} sqft &middot S$ {{"%.2f"
                % (listing.price/listing.size_sqft)}} psf
              </div>
              <div class="listing-footer d-flex justify-content-between">
                <div class="listing-type">
                  <span
                    class="badge bg-success-subtle border border-light-subtle text-light-emphasis"
                    >{{listing.type}}</span
                  >
                </div>
                <div class="listing-meta">
                  <span
                    class="badge bg-secondary-subtle border border-light-subtle text-light-emphasis"
                    >{{ listing.views | selectattr('date_created', 'le',
                    current_time) | list | length }} views</span
                  >
                  <span
                    class="badge bg-info-subtle border border-light-subtle text-light-emphasis"
                    >{{ listing.shortlists | selectattr('date_created', 'le',
                    current_time) | list | length if listing.shortlists else 0}}
                    shortlists</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
