{% extends "user/base.html" %} {% block title %}Profile{% endblock %} {% block
content %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Change Password</h2>
  </div>
  <form method="POST">
    <label for="current_password">Current Password:</label><br />
    <input
      type="password"
      class="form-control"
      id="current_password"
      name="current_password"
      placeholder="Enter password"
    /><br />
    <label for="new_password">New Password:</label><br />
    <input
      type="password"
      class="form-control"
      id="new_password"
      name="new_password"
      placeholder="Enter password"
    /><br />
    <label for="confirm_password">Password (Confirm):</label><br />
    <input
      type="password"
      class="form-control"
      id="confirm_password"
      name="confirm_password"
      placeholder="Confirm password"
    /><br />
    <button type="submit" class="btn btn-primary form-control" type="submit">
      Save New Password</button
    ><br /><br />
  </form>
</div>
{% endblock %}
