{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
content %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Change Password</h2>
  </div>
  <form method="POST">
    <label for="current-password">Current Password:</label><br />
    <input
      type="password"
      class="form-control"
      id="current-password"
      name="current-password"
      placeholder="Enter password"
    /><br />
    <label for="new-password">New Password:</label><br />
    <input
      type="password"
      class="form-control"
      id="new-password"
      name="new-password"
      placeholder="Enter password"
    /><br />
    <label for="confirm-password">Password (Confirm):</label><br />
    <input
      type="password"
      class="form-control"
      id="confirm-password"
      name="confirm-password"
      placeholder="Confirm password"
    /><br />
    <button type="submit" class="btn btn-primary form-control" type="submit">
      Sign Up</button
    ><br /><br />
  </form>
</div>
{% endblock %}
