{% extends "base.html" %} {% block title %}Find Agent{% endblock %} {% block
content %}
<section class="jumbotron text-center">
  <div class="container"></div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <h2>Featured Property Agents</h2>
    <br />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
      {% for type in types %}
      <div class="col">
        <h5>Featured {{type}} Agents</h5>
        <div class="bg-light">
          {% for user, listing, agent in query_result if listing.type == type %}
          <div class="p-4 mb-2 list-group bg-white box-shadow">
            <div
              class="mb-2 agent-info d-flex justify-content-between align-items-center"
            >
              <div
                class="agent-photo"
                style="
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  overflow: hidden;
                  border: 0.67px solid #212529;
                  opacity: 0.25;
                  margin-right: 16px;
                "
              >
                <img src="" />
              </div>
              <a
                href="/find-agent/{{user.first_name.replace(' ', '-')|lower}}-{{user.last_name.replace(' ', '-')|lower}}-{{agent.id}}"
                class="btn btn-outline-secondary d-inline-flex align-items-center"
              >
                View Profile
              </a>
            </div>
            <div class="agent-details">
              <div class="mb-1" style="font-size: 14px; font-weight: 500">
                {{user.first_name}} {{user.last_name}}
              </div>
              <div class="mb-1" style="font-size: 12px">
                CEA {{agent.cea_registration_no}} / {{agent.agency_license_no}}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
