{% extends "base.html" %} {% block title %}Sell{% endblock %} {% block content
%}
<div class="mb-3"></div>

<main class="container">
  <img
    class="mb-4 rounded card-img-top"
    src="../{{listing.photo}}"
    style="width: 100%; display: block"
  />
  <div class="row g-5">
    <div class="col-md-8">
      <article class="listing">
        <h2 class="display-5 link-body-emphasis mb-1">{{listing.title}}</h2>
        <p class="listing-meta">
          {{listing.date_created.strftime('%B %d, %Y')}}
        </p>
        <p>{{listing.location}}</p>
        <span
          class="badge bg-success-subtle border border-light-subtle text-light-emphasis"
          >{{listing.type}}</span
        >
        <hr />
        <div
          class="listing-details d-flex justify-content-around align-items-center"
        >
          <div class="listing-price flex-row">
            <div class="price d-flex align-items-center">
              <h2 class="amount" style="margin-right: 16px">
                S$ {{listing.price}}
              </h2>
              <span
                class="badge bg-secondary-subtle border border-light-subtle text-light-emphasis"
                style="
                  align-items: center;
                  padding: 6px 8px;
                  margin-bottom: 4px;
                "
                >Negotiable</span
              >
            </div>
            <div class="estimated-repayment">
              <p class="repayment-amount">
                Est. Repayment S$ {{((listing.price * 0.75 * (0.03/12) * ((1 +
                0.03/12)**360))/(((1 + 0.03/12)**360) - 1))|int}} / mo
              </p>
            </div>
          </div>
          <div
            class="vr"
            style="
              border-left: 1px solid black;
              height: 100px;
              width: 0.67px;
              margin: 0 0px;
            "
          ></div>
          <div class="listing-features d-flex">
            <div class="listing-bedrooms" style="text-align: center">
              <h6>{{listing.bedrooms}}</h6>
              <h6>bed</h6>
            </div>
            <div
              class="listing-bathrooms"
              style="text-align: center; margin-left: 32px"
            >
              <h6>{{listing.bathrooms}}</h6>
              <h6>bath</h6>
            </div>
            <div
              class="listing-size_sqft"
              style="text-align: center; margin-left: 32px"
            >
              <h6>{{listing.size_sqft}}</h6>
              <h6>sqft</h6>
            </div>
            <div
              class="listing-size_psft"
              style="text-align: center; margin-left: 32px"
            >
              <h6>S$ {{"%.2f" % (listing.price/listing.size_sqft)}}</h6>
              <h6>psft</h6>
            </div>
          </div>
        </div>
        <hr />
        <section class="about-section">
          <h2>About this property</h2>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac
            lobortis sem. Nam ornare felis eget iaculis scelerisque. Fusce
            ultrices tellus vel urna sodales dictum. Morbi ultricies ac velit
            bibendum molestie. Nunc mi nisl, finibus quis augue vitae, malesuada
            posuere mi. Nam arcu leo, pretium feugiat scelerisque aliquam,
            lobortis vitae enim. Integer suscipit pretium dapibus. Aenean
            interdum libero erat, non sodales mauris lacinia suscipit. Maecenas
            enim tortor, accumsan eu ullamcorper quis, auctor a turpis. Sed
            tincidunt malesuada libero, lobortis accumsan ante dignissim sed.
            Suspendisse viverra efficitur massa eu sollicitudin. Sed quis urna
            lorem.
            <br /><br />
            Integer ultrices diam in dapibus hendrerit. Donec lacinia, libero
            sed ultrices ornare, lacus turpis blandit sapien, id convallis risus
            leo et ligula. Nullam eget diam massa. Pellentesque nibh lectus,
            auctor eget enim ac, consequat viverra urna. Phasellus luctus sed
            nisi ut lacinia. Etiam eget leo non velit ornare sollicitudin et non
            risus. Phasellus cursus pharetra semper. Praesent et ligula sed
            ipsum rhoncus varius non eget purus. Fusce molestie diam felis, et
            blandit velit scelerisque at. Nunc sit amet nunc in elit dapibus
            ullamcorper. Donec luctus et augue ac fringilla. Sed ut lectus
            libero. Nullam sit amet aliquam nulla.
          </div>
        </section>
        <hr />
        <section class="details-section">
          <h2>More details</h2>
          <table class="table">
            <thead>
              <tr>
                <td>Property Type:</td>
                <th style="text-align: right">{{listing.type}}</th>
              </tr>
              <tr>
                <td>Floor Size:</td>
                <th style="text-align: right">{{listing.size_sqft}}</th>
              </tr>
              <tr>
                <td>PSF:</td>
                <th style="text-align: right">
                  S$ {{"%.2f" % (listing.price/listing.size_sqft)}}
                </th>
              </tr>
              <tr>
                <td>Location:</td>
                <th style="text-align: right">{{listing.location}}</th>
              </tr>
              <tr>
                <td>Listed on:</td>
                <th style="text-align: right">
                  {{listing.date_created.strftime('%B %d, %Y')}}
                </th>
              </tr>
              <tr>
                <td>Listing ID:</td>
                <th style="text-align: right">{{listing.id}}</th>
              </tr>
            </thead>
          </table>
        </section>
        <section class="mortgage-calculator">
          <div class="mortgage-calculator-title mb-4">
            <h2>Estimated Mortgage</h2>
          </div>
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="p-4 card mb-4 mortgage-calculator">
                <div class="graph-item">
                  <h6>Mortgage Breakdown</h6>
                  <div
                    class="mb-2 graph-info d-flex justify-content-between align-items-center"
                  >
                    <span style="font-size: 12px">Est. Monthly Repayment</span>
                    <span
                      id="monthly-payment"
                      style="font-size: 16px; font-weight: 500"
                      >S$ 0 / mo</span
                    >
                  </div>
                  <div
                    class="mb-2 progress-bar flex-row justify-content-between align-items-center"
                    style="column-gap: 1px"
                  >
                    <div
                      id="principal-bar"
                      style="
                        background-color: #004141;
                        color: white;
                        font-size: 12px;
                        border-radius: 10px 0 0 10px;
                        width: 50%;
                        transition: width 0.5s ease;
                      "
                    >
                      50%
                    </div>
                    <div
                      id="interest-bar"
                      style="
                        background-color: #009194;
                        color: white;
                        font-size: 12px;
                        border-radius: 0 10px 10px 0;
                        width: 50%;
                        transition: width 0.5s ease;
                      "
                    >
                      50%
                    </div>
                  </div>
                  <div class="legend-bar d-flex">
                    <div
                      class="col-md-6 principal-lbar d-flex align-items-center"
                    >
                      <div
                        style="
                          width: 8px;
                          height: 8px;
                          border-radius: 50%;
                          background-color: #004141;
                          margin-right: 4px;
                        "
                      ></div>
                      <div id="monthly-principal" style="font-size: 12px">
                        S$ Principal
                      </div>
                    </div>
                    <div
                      class="col-md-6 interest-lbar d-flex align-items-center"
                    >
                      <div
                        style="
                          width: 8px;
                          height: 8px;
                          border-radius: 50%;
                          background-color: #009194;
                          margin-right: 4px;
                        "
                      ></div>
                      <div id="monthly-interest" style="font-size: 12px">
                        S$ Interest
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="graph-item">
                  <h6>Upfront Costs</h6>
                  <div
                    class="mb-2 graph-info d-flex justify-content-between align-items-center"
                  >
                    <span style="font-size: 12px">Total Downpayment</span>
                    <span
                      id="downpayment-amt"
                      style="font-size: 16px; font-weight: 500"
                      >S$ 0</span
                    >
                  </div>
                  <div
                    class="mb-2 progress-bar flex-row justify-content-between align-items-center"
                    style="column-gap: 1px"
                  >
                    <div
                      id="downpayment-bar"
                      style="
                        background-color: #004141;
                        color: white;
                        font-size: 12px;
                        border-radius: 10px 0 0 10px;
                        width: 50%;
                        transition: width 0.5s ease;
                      "
                    >
                      50%
                    </div>
                    <div
                      id="loan-bar"
                      style="
                        background-color: #009194;
                        color: white;
                        font-size: 12px;
                        border-radius: 0 10px 10px 0;
                        width: 50%;
                        transition: width 0.5s ease;
                      "
                    >
                      50%
                    </div>
                  </div>
                  <div class="legend-bar d-flex">
                    <div
                      class="col-md-6 downpayment-lbar d-flex align-items-center"
                    >
                      <div
                        style="
                          width: 8px;
                          height: 8px;
                          border-radius: 50%;
                          background-color: #004141;
                          margin-right: 4px;
                        "
                      ></div>
                      <div id="" style="font-size: 12px">Downpayment</div>
                    </div>
                    <div class="col-md-6 loan-lbar d-flex align-items-center">
                      <div
                        style="
                          width: 8px;
                          height: 8px;
                          border-radius: 50%;
                          background-color: #009194;
                          margin-right: 4px;
                        "
                      ></div>
                      <div id="loan-amt" style="font-size: 12px">S$ Loan</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <form
                class="mortgage-calculator-form"
                action="/calculate"
                method="POST"
              >
                <div class="mb-3">
                  <label class="property-price">Property Price</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">S$</span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="property-price"
                      id="property-price"
                      value="{{'%.2f' % (listing.price)}}"
                      required
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label class="loan-amount">Loan Amount</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">S$</span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="loan-amount"
                      id="loan-amount"
                      value="{{'%.2f' % (listing.price * 0.75)}}"
                      required
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <div class="row">
                    <div class="col">
                      <label class="interest-rate">Interest Rate</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">%</span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          name="interest-rate"
                          id="interest-rate"
                          value="3"
                          required
                        />
                      </div>
                    </div>
                    <div class="col">
                      <label class="loan-tenure">Loan Tenure</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Yrs</span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          name="loan-tenure"
                          id="loan-tenure"
                          value="30"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    onclick="calculateMortgage()"
                  >
                    Calculate Again
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
</main>

{% endblock %}
