{% extends "base.html" %} {% block title %}My Profile{% endblock %} 

{% block content %}


<div class="container my-3">

    <h2>Account</h2>
    <br>

    <form class="row g-3">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="name" value="{{ current_user.first_name }} {{ current_user.last_name }}">
        </div>

        <label for="email" class ="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="email" value="{{ current_user.email }} ">
        </div>

        {% if current_user.role == "agent" %}
        <label for="title" class ="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext text-capitalize" id="title" value="{{ current_user.role }}">
        </div>

        <label for="cea_registration_no" class ="col-sm-2 col-form-label">CEA Registration No</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="cea_registration_no" value="{{ agent.cea_registration_no }} ">
        </div>

        <label for="agency_license_no" class ="col-sm-2 col-form-label">Agency License No</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="agency_license_no" value="{{ agent.agency_license_no }} ">
        </div>
        {% endif %}

        <hr>

        <label for="currentPassword" class="col-sm-2 col-form-label">Current Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="currentPassword" placeholder="Enter current password">
        </div>

        <label for="newPassword" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="newPassword" placeholder="Enter new password">
        </div>

        <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="confirmPassword" placeholder="Re-type password">
        </div>

        <button type="submit" class="btn btn-success form-control" type="submit">Change Password</button>
    </form>
</div>


{% endblock %}