{% extends "base.html" %} {% block title %}Sell{% endblock %} {% block content
%}
<h1 align="center">{% block header %}Listings{% endblock %}</h1>

<div id="listings">
  {% for listing in listings %}
  <div
    class="card border-dark"
    style="width: 681.33px; height: 818.67px; margin-left: 200px"
  >
    <div
      class="card-header d-flex justify-content-between align-items-center text-muted"
    >
      <a href="/listing/{{listing.title.replace(' ', '-')|lower}}"
        >{{listing.title}}</a
      >
      {% if user.id == listing.user_id %}
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
        ></button>
        <ul class="dropdown-menu">
          <li>
            <a href="/delete-listing/{{listing.id}}" class="dropdown-item"
              >Delete</a
            >
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
    <img src="{{listing.photo}}" width="100%" , height="450" />
    <div class="card-body" style="display: flex">
      <div class="card-text">
        <div class="listing-address" style="font-size: 24px">
          {{listing.location}}
        </div>
        <div class="listing-price]" style="font-size: 20px">
          S$ {{listing.price}}
        </div>
        <div class="listing-details" style="font-size: 16px">
          {{listing.bedrooms}} Bedrooms &middot {{listing.bathrooms}} Bathrooms
          &middot {{listing.size_sqft}} sqft &middot S$ {{"%.2f" %
          (listing.price/listing.size_sqft)}} psf
        </div>
        <div class="listing-type">
          <span
            class="badge bg-secondary-subtle border border-light-subtle text-light-emphasis"
            style="font-size: 14px; font-weight: 500"
            >{{listing.type}}</span
          >
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
      <a href="">{{listing.user.first_name}} {{listing.user.last_name}}</a>
      <div>
        <span id="shortlists-count-{{listing.id}}">
          {{listing.shortlists|length}}
        </span>
        {% if user.id in listing.shortlists|map(attribute="user_id")|list %}
        <i
          class="fa fa-heart"
          id="shortlist-button-{{listing.id}}"
          onclick="shortlist({{listing.id}})"
        ></i>
        {% else %}
        <i
          class="fa fa-heart-o"
          id="shortlist-button-{{listing.id}}"
          onclick="shortlist({{listing.id}})"
        ></i>
        {% endif %}
      </div>
    </div>
  </div>
  <br />
  {% endfor %}
</div>
<br />
<div align="center">
  <a href="/create-listing">
    <button type="submit" class="btn btn-primary">Create a Listing</button>
  </a>
</div>
{% endblock %}
