{% extends "base.html" %} {% block title %}Favourite{% endblock %} 

{% block content %}
<style>
    .card-img-container {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: lightgrey;
    }

    .card-img-container img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
</style>

<div class="container my-3">

    <h2>Favourites</h2>

    {% for result in query_result %}
        <a
            title="{{result[0].title}}"
            href="/listing/{{result[0].title.replace(' ', '-')|lower}}-{{result[0].id}}"
            class="nav-link"
        >
        <div class="card my-3">
            <div class="row no-gutters">
                <div class="col-auto">
                    <div class="card-img-container">
                        <img src="{{result[0].photo}}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col h-100">
                    <div class="card-block px-2 py-3 d-flex flex-column h-100">
                        <h4 class="card-title">{{ result[0].title }}</h4>
                        <hr>
                        <p class="card-text">{{ result[0].location }}</p>
                        <p class="card-text">S${{"{:,.2f}".format(result[0].price)}}</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
    {% endfor %}

</div>


{% endblock %}