{% extends "base.html" %} {% block title %}Update{% endblock %} {% block content
%}
<div class="container">
  <div class="py-5 text-center">
    <h2>Update Listing</h2>
  </div>
  <form method="POST" enctype="multipart/form-data">
    <label for="title">Title:</label><br />
    <input
      type="test"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter title"
      value="{{listing.title}}"
    /><br />
    <label for="description">Description:</label><br />
    <textarea
      class="form-control"
      id="description"
      name="description"
      placeholder="Enter description"
    >{{listing.description}}</textarea
    ><br />
    <label for="type">Type:</label><br />
    <select class="form-control" id="type" name="type">
      <option 
        value="HDB" 
        {% if listing.type == "HDB" %}selected{% endif %}>
        HDB
      </option>
      <option
        value="Condominium"
        {% if listing.type == "Condominium" %}selected{% endif %}
      >
        Condominium
      </option>
      <option
        value="Landed House"
        {% if listing.type == "Landed House" %}selected{% endif %}
      >
        Landed House
      </option>
      <option
        value="Apartment"
        {% if listing.type == "Apartment" %}selected{% endif %}
      >
        Apartment
      </option>
    </select>
    <br />
    <label for="price">Price (S$):</label><br />
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      placeholder="Enter price"
      value="{{listing.price}}"
    /><br />
    <div class="row">
      <div class="col md-6">
        <label for="bedrooms">Bedrooms:</label><br />
        <input
          type="number"
          class="form-control"
          id="bedrooms"
          name="bedrooms"
          placeholder="Enter bedrooms"
          value="{{listing.bedrooms}}"
        /><br />
      </div>
      <div class="col md-6">
        <label for="bathrooms">Bathrooms:</label><br />
        <input
          type="number"
          class="form-control"
          id="bathrooms"
          name="bathrooms"
          placeholder="Enter bathrooms"
          value="{{listing.bathrooms}}"
        /><br />
      </div>
    </div>
    <div class="row">
      <div class="col md-6">
        <label for="size_sqft">Size (sqft):</label><br />
        <input
          type="number"
          class="form-control"
          id="size_sqft"
          name="size_sqft"
          placeholder="Enter size sqft"
          value="{{listing.size_sqft}}"
        /><br />
      </div>
      <div class="col md-6">
        <label for="location">Location:</label><br />
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="Enter location"
          value="{{listing.location}}"
        /><br />
      </div>
    </div>
    <div class="row">
      <div class="col md-6">
        <label for="user_email">Seller's Email:</label><br />
        <input
          type="email"
          class="form-control"
          id="user_email"
          name="user_email"
          placeholder="Enter seller's email"
          value="{{listing.user.email}}"
          disabled
        /><br />
      </div>
      <div class="col md-6">
        <label for="photo">Photo:</label><br />
        <input type="file" id="photo" name="photo" style="margin-top: 3px" />
        <br />
      </div>
    </div>
    <br /><br />
    <button type="submit" class="btn btn-primary form-control" type="submit">
      Submit
    </button>
    <br /><br />
  </form>
</div>
{% endblock %}
