{% extends "base.html" %} {% block title %}Update{% endblock %} {% block content
%}
<div class="container">
  <div class="py-5 text-center">
    <h2>Update Listing</h2>
  </div>
  <form method="POST" enctype="multipart/form-data">
    <label for="title">Title:</label><br />
    <input
      type="test"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter title"
      value="{{listing.title}}"
    /><br />
    <label for="description">Description:</label><br />
    <textarea
      class="form-control"
      id="description"
      name="description"
      placeholder="Enter description"
      value="{{listing.description}}"
    ></textarea
    ><br />
    <label for="type">Type:</label><br />
    <select class="form-control" id="type" name="type" value="{{listing.type}}">
      <option value="HDB">HDB</option>
      <option value="Condominium">Condominium</option>
      <option value="Landed House">Landed House</option>
      <option value="Executive Condominium">Executive Condominium</option>
      <option value="Apartment">Apartment</option>
    </select>
    <br />
    <label for="price">Price (S$):</label><br />
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      placeholder="Enter price"
      value="{{listing.price}}"
    /><br />
    <div class="row">
      <div class="col md-6">
        <label for="bedrooms">Bedrooms:</label><br />
        <input
          type="number"
          class="form-control"
          id="bedrooms"
          name="bedrooms"
          placeholder="Enter bedrooms"
          value="{{listing.bedrooms}}"
        /><br />
      </div>
      <div class="col md-6">
        <label for="bathrooms">Bathrooms:</label><br />
        <input
          type="number"
          class="form-control"
          id="bathrooms"
          name="bathrooms"
          placeholder="Enter bathrooms"
          value="{{listing.bathrooms}}"
        /><br />
      </div>
    </div>
    <div class="row">
      <div class="col md-6">
        <label for="size_sqft">Size (sqft):</label><br />
        <input
          type="number"
          class="form-control"
          id="size_sqft"
          name="size_sqft"
          placeholder="Enter size sqft"
          value="{{listing.size_sqft}}"
        /><br />
      </div>
      <div class="col md-6">
        <label for="location">Location:</label><br />
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="Enter location"
          value="{{listing.location}}"
        /><br />
      </div>
    </div>
    <label for="photo">Photo:</label><br />
    <input
      type="file"
      id="photo"
      name="photo"
      value="{{listing.photo}}"
    /><br /><br />
    <button type="submit" class="btn btn-primary form-control" type="submit">
      Submit
    </button>
    <br /><br />
  </form>
</div>
{% endblock %}
